body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Lato:700', sans-serif;
	font-size: 3em;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
}

header {
	background-color: #e70012;
}

.head {
	max-width: 1100px;
	height: 60px;
	margin: 0 auto;
	background-color: #e70012;
}

.navi {
	width: 500px;
	float: left;
	display: inline;
}

.logo {
	width: 146px;
}

.head ul {
	margin: 0;
	display: inline;
}

.navi ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    overflow: hidden;
}

.navi li {
	float: left;
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    padding-right: 20px;
}

.navi .normal {
	padding-top: 20px;
}

.navi li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 5px;
    text-decoration: none;
}

.navi li a {
	display: block;
}

.navi li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.navi .dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2002;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content:hover a {
	display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navd {
	width: 600px;
	float: right;
	display: inline;
}

form {
    width:460px;
    padding-top: 5px;
    float: left;
    display: inline;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #fafafa;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fafafa;
    background-image: url('img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.redes {
	display: inline;
	padding: 15px;
	float: right;
}

.redes a {
	border-bottom: 1px solid #fafafa;
	margin-right: 5px;
	margin-left: 5px;
}

main {
	background-color: #eaeaea;
}

.video {
	max-width: 1280px;
	margin: 0 auto;
}

.cuerpo {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	background-color: #ffffff;
}

.presentacion {
	text-align: center;
	max-width: 1100px;
	padding-bottom: 100px;
}

.presentacion h1 {
	padding-top: 30px;
}

.perks {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #e70012;
}

.perk-left {
	height: 353px;
	width: 100%;
	display: inline-block;
	padding-right: 20px;
	padding-bottom: 50px;
}

.perk-left img {
	float: left;
	position: relative;
}

.perk-left-text-con {
	height:352px;
	background-color: #e70012;
}

.perk-left h1 {
	width: 400px;
	float: right;
	color: #fafafa;
}

.perk-left p {
	width: 400px;
	float: right;
	font-size: 1.7em;
	color: #fafafa;
}

.perk-right {
	height: 353px;
	width: 100%;
	display: inline-block;
	padding-bottom: 50px;
}

.perk-right img {
	float: right;
	position: relative;
}

.perk-right-text-con {
	height:352px;
	background-color: #e70012;
}

.perk-right h1 {
	width: 400px;
	padding-left: 20px;
	float: left;
	color: #fafafa;
}

.perk-right p {
	width: 400px;
	padding-left: 20px;
	float: left;
	font-size: 1.7em;
	color: #fafafa;
}

.tresd h1 {
	text-align: center;
}

.sketchfab-embed-wrapper {
	max-width: 640px;
	margin: 0 auto;
}

.modelos {
	height: 600px;
	max-width: 1100px;
	margin: 0 auto;
}

.modelos h1 {
	text-align: center;
}

.selector {
	height: auto;
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

.color-container {
	height: 45px;
	width: 400px;
	margin: 0 auto;
}

.button {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.button.selected {
	border: 2px black solid;
}

.azul {
  background-color:#1666c9;
}

.blanca {
  background-color:#dfe0e2;
}

.marina {
  background-color:#5794a6;
}

.lima {
  background-color:#6cb530;
}

.naranja {
  background-color:#e06c47;
}

.salmon {
  background-color:#c29b96;
}

.violeta {
  background-color:#794b96;
}

.original {
  background-color:#4d5256;
}

.version-container {
	height: 100%;
	width: 741px;
	margin: 0 auto;
}

.version-container img {
	position: absolute;
	display: none;
}

.version-container img.selected {
	position: relative;
	display: block;
}

footer {
	background-color: #141414;
}

.foot {
	max-width: 1100px;
	margin: 0 auto;
}

.footerup {
	border-bottom: 1px solid #fafafa;
}

.logopie {
	height: 100px;
	width: 200px;
	padding-top: 20px;
	display: inline-block;
}

.logopie img {
	height: 100px;
	width: 200px;
}

.listapie {
	height: 100%;
	width: 200px;
	margin: 0;
	display: inline-block;
}

.listapie ul {
	height: 100px;
	width: 200px;
	list-style-type: none;
}

.listapie li {
	font-family: 'Lato', sans-serif;
	color: #fafafa;
}

.footerdown {
	height: 50px;
}

.legales {
	width: 500px;
	display: inline;
	float: left;
}

.legales p {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	color: #fafafa;
}

.powered {
	width: 500px;
	display: inline;
	float: right;
}

.powered p {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	text-align: right;
	color: #fafafa;
}